{% extends 'magasin/base.html' %}

{% block title %} Catalogue de produits {% endblock title %}

{% block content %}

<!-- body -->
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12 mb-3 text-center">
      <p>Catalogue de produits </p>
      <a href="{% url 'home' %}">Accueil</a>
    </div>
  </div>
  <div class="row">
    <!-- all products -->
    <div id='products' class="col-lg-9 mx-auto">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Image</th>
            <th>Libellé</th>
            <th>Description</th>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
          
          {% for product in products %}
          <tr id={{product.id}}>
            <td><img src="/media/{{product.img}}" alt="{{product.libelle}}"></td>
            <td>{{product.libelle}}</td>
            <td>{{product.description}}</td>
            <td><a href="{% url 'modifierProduit' product.id  %}" class="btn btn-primary btn-sm">Modifier</a></td>
            <td><a href="{% url 'supprimerProduit' product.id %}" class="btn btn-danger btn-sm">Supprimer</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
